<div class="container-fluid">

		<form class="form-horizontal" role="form" id="portalsforma">
			<h3 id="podnaslov">Choose portals</h3><br>

			<div class="form-group" ng-repeat="portal in portals" ng-animate="'animate'">
				<div class="col-xs-5">
					<a href="" id="current_portal">{{portal.url}}</a>
				</div>
			</div>
			<div class="form-group" ng-repeat="portal in portals" ng-animate="'animate'">
				<div class="col-xs-5">
					<span class="glyphicon glyphicon-chevron-up"></span>
					<button type="button" class="btn btn-default" ng-click="delete(portal.portal_id)">Delete</button>
				</div>
			</div>
			

			<div class="form-group">
				<div class="col-xs-12">
					<p class="h5">Add new portal:</p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-12">
    				<div class="input-group">
      				<input type="url" class="form-control" ng-model="portal.url">
      				<span class="input-group-btn">
       			    		<button class="glyphicon glyphicon-plus btn btn-default" type="button" ng-click="add()"></button>
       				</span>
       			   </div>
       			</div>
       		</div>

       		<div class="form-group">
			    <div class="col-xs-offset-6 col-xs-6">			      
			      <button type="button" class="btn btn-default form-control" ng-click="back()">Back to Settings</button>
			    </div>
			 </div>
     
		</form>

</div>