<div class="container-fluid">

		<h3 id="podnaslov">Sign up</h3>

		<form class="form-horizontal" role="form" id="signupforma">
		  <div class="form-group">
		    <label for="username" class="col-xs-3 control-label">Username</label>
		    <div class="col-xs-9">
		      <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-xs-3 control-label">E-mail</label>
		    <div class="col-xs-9">
		      <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="" required>
		    </div>
		  </div>
		   <div class="form-group">
		    <label for="password" class="col-xs-3 control-label">Password</label>
		    <div class="col-xs-9">
		      <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="" required>
		    </div>
		  </div>
		   <div class="form-group">
		    <label for="password" class="col-xs-3 control-label">re-Type Password</label>
		    <div class="col-xs-9">
		      <input type="password" class="form-control" id="password" placeholder="" required>
		    </div>
		  </div>
		  <div class="form-group">
		  	 <div class="col-xs-offset-3 col-xs-9">
		    	<h6><a href="#/">Back to Sign in</a></h6>
		    </div>
		  </div>	  
		  <div class="form-group">
		    <div class="col-xs-offset-3 col-xs-9">
		      <button type="reset" class="btn btn-default">Reset</button>
		      <button type="submit" ng-click="createNewUser()" class="btn btn-default">Submit</button>
		    </div>
		  </div>
		  <img src="slike/nophoto.jpg" id="newavatar" ng-model="user.photo" hidden="true">
		</form>

</div>